#############
## Unity
#############

*.pidb
*.sln
*.suo
*.userprefs
*.user
*.csproj
*.orig
*.booproj
*.svd
*.unityproj
ProjectSettings/Physics2DSettings.asset

Library/
Temp/
## Obj/
Build/
ExportedObj/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
